$white: #e9e8e8;
$primary: #495464;
$black: #2d2d2d;
$screen: lighten(#4ac8cc,10%);
$button: lighten($black,20%);
$bg: #8d959b;
$red: lighten(rgb(104, 18, 58), 10%);
$history-bg: #c3c9d3;

* {
    box-sizing: border-box;
}
body {
    background: $primary;
    font-family: 'Roboto Mono', monospace;
    color: $black;
    position: relative;
}

.container {
    display: grid;
    width: 65%;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 6em;
    align-items: center;
    justify-items: center;
    margin: 5em auto;
}

.cal-wrapper {
    width: 13.7em;
    padding: .7em .7em .3em .7em;     
    font-size: 1.8em;
    background: $bg;
    border-radius: .4em;
    box-shadow:
        darken($bg, 10%) 0 .3em 0 0,
        darken($primary, 8%) -.5em 1em 0 0
        ;
    border: .1em solid darken($bg, 10%);
    border-top-color: lighten($bg, 10%);
    border-right-color: lighten($bg, 10%);
}

.solar {
    background: #3e4e45;
    width: 5em;
    padding: .65em .25em;    
    margin: 0 7.2em;    
    overflow: hidden;
    position: relative;
    border-radius: .1em;
    border: .1em solid lighten($black, 2%);
    border-top-color: darken($bg, 20%);
    border-right-color: darken($bg, 20%);
    box-shadow:
        inset darken($black,30%) 0 .15em 0 0,
        inset rgba($black,.3) -.2em .35em 0 0;               
}

.result {
    background: $screen;
    padding: .45em .5em .3em;
    line-height: 1;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    margin: .5em 0;
    border-radius: .2em;
    color: darken($screen, 35%);
    overflow: hidden;
    position: relative;
    border: .1em solid lighten($bg, 15%);
    border-top-color: darken($bg, 20%);
    border-right-color: darken($bg, 20%);
    box-shadow:      
        inset darken($bg,30%) 0 .15em 0 0,
        inset rgba($black,.3) -.2em .35em 0 0;
}

.buttons{
    width: 12.2em;
    padding: .35em .0em .35em .5em;
    overflow: hidden;
    border: .2em solid darken($bg, 10%);
    border-left-color: lighten($bg, 10%);
    border-bottom: 0;
    border-radius: .3em;
    background: $bg;
    margin-bottom: -.2em;
}

button {
    border: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: $button;
    color: $white;
    font-size: 0.8em;
    text-align: center;
    width: 2.8em;
    height: 2.2em;
    margin: .2em .5em .5em .2em;
    display: block;
    float: left;
    line-height: 1;
    border-radius: .2em;
    cursor: pointer;
    border: .05em solid darken($button, 15%);
    border-top-color: lighten($button, 15%);
    border-right-color: lighten($button, 15%);
    text-shadow:
        darken($button, 15%) 0 -.1em 0;    
    box-shadow:
        darken($button, 15%) 0 .2em 0 0,
        $black 0 .2em 0 .05em,
        darken($bg, 10%) -.1em .3em 0 0,
        darken($bg, 10%) -.2em .4em 0 0;
    position: relative;
    &:active {
        top: .1em;
        //background: $black;
        box-shadow:
            darken($button, 15%) 0 .1em 0 0,
            $black 0 .1em 0 .05em,
            darken($bg, 10%) -.1em .2em 0 0;
    }
    &:focus{
        color: #f1bc5a;
        outline:none;
    }    
}

button.plus {   
    width: 6.3em;
}

button.red-bg {
    background: $red;
    border: .05em solid darken($red, 15%);
    border-top-color: lighten($red, 15%);
    border-right-color: lighten($red, 15%);
    text-shadow:
        darken($red, 15%) 0 -.1em 0;
    
    box-shadow:
        darken($red, 15%) 0 .2em 0 0,
        $black 0 .2em 0 .05em,
        darken($bg, 10%) -.1em .3em 0 0,
        darken($bg, 10%) -.2em .4em 0 0;
    
        &:focus{
            color: $white;
            outline:none;}
}

button.black-bg {
    background: $black;
    border: .05em solid darken($black, 15%);
    border-top-color: lighten($black, 15%);
    border-right-color: lighten($black, 15%);
    text-shadow:
        darken($black, 15%) 0 -.1em 0;
    
    box-shadow:
        darken($black, 15%) 0 .2em 0 0,
        $black 0 .2em 0 .05em,
        darken($bg, 10%) -.1em .3em 0 0,
        darken($bg, 10%) -.2em .4em 0 0;
}

#history {
    display: grid;
    width: 18em;
    margin-top: 1em;
    grid-template-rows: 5em 15em 4.5em;
    position: relative;
	background: $history-bg;
    box-shadow: -5px 7px 15px 0 rgba(0,0,0,0.3);
    -webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
    
	&:before  {
		display: block;
		content: ""; 
		background: rgba(227, 200, 114, 0.40);
		width: 140px;
		height: 40px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	    border-radius: 6px/18px 0;
		position: absolute;
		top: -22px;
		left: 80px;
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

    &:after {
        content: "";
        display: table;
        clear: both;        
    }

    h2 {
        text-align: center;
        font-size: 1.8em;  
        padding: .2em;     
        font-family: 'Roboto Mono', monospace;   
    }

    .history-content {                        
        background: $history-bg;                
        overflow: auto;        

        p.content {
            text-align: right;
            font-family: 'Roboto Mono', monospace;
            margin: .5em 2em 1em 4em;
            font-size: 1.5em;
        }                
    }	

    button.clear {
        float: right;
        font-size: .85em;
        width: 4.5em;
        height: 3em;
        margin: 1em 1em 2em;
    }
}

footer {        
    color: $history-bg;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 3rem;

    .karen {
        color: $white;
        text-decoration: none;
    }
      
    .karen:hover {
        color: rgb(243, 179, 222);
        text-decoration: none;
    }
}